{% extends 'notes/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-12 text-center">
            <div class="h2 fw-bold">
                Детали заметки
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 offset-3 mt-3">
            <div class="card bg-dark">
                <div class="card-header">
                    <a href="{{ url_for('notes.notes_list') }}" class="btn btn-secondary"><i
                            class="bi bi-arrow-bar-left"></i> Назад</a>
                </div>
                <div class="col text-center">
                    <div class="card bg-dark">
                        <div class="card-header">
                            {{ note.created_at.strftime('%Y-%m-%d, %H:%M:%S') }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ note.title }}</h5>
                            <p class="card-text">{{ note.description }}</p>
                            {% if not note.is_done %}
                            <a href="{{ url_for('notes.note_done', id=note.id) }}" class="btn btn-primary">Сделано</a>
                            {% else %}
                            <div class="text-muted">
                                <i class="bi bi-check"></i> Сделано
                            </div>
                            {% endif %}
                        </div>
                        {% if note.updated_at %}
                        <div class="card-footer">
                            Последнее обновление: {{ note.updated_at.strftime('%Y-%m-%d, %H:%M:%S') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}